<mat-toolbar id="toolbar">
    <div id="playback-menu">
    @if(!play) {
        <button type="button" id="play-pause-btn" (click)="this.playFn()">▶️</button>
        <button type="button" id="stop-btn" (click)="this.stopFn()">⏹️</button>
    }
    @else {
        <button type="button" id="play-pause-btn" (click)="this.pauseFn()">⏸️</button>
        <button type="button" id="stop-btn" (click)="this.stopFn()">⏹️</button>
    }   
    </div>
    <div id="bpm-menu">
        <label for="bpm-input">BPM</label>
        <input type="number" name="bpm-input" id="bpm-input" [value]="bpm" #bpmInput (input)="setBPM(bpmInput.value)">
    </div>
    <div id="metronome-div">
        <label for="metronome">Metronome</label>
        <input type="checkbox" name="metronome" id="metronome">
    </div>
    <div id="mp3-info">
        <!-- https://blog.angular-university.io/angular-file-upload/ -->
    </div>
</mat-toolbar>
<app-canvas [bpm]="bpm" [play]="play"></app-canvas>
