<mat-toolbar id="toolbar">
    <div id="canvas-menu">
        <button mat-raised-button (click)="appCanvas.newPage()" id="new-page-btn"><span>New Page </span></button>
    </div>
    <div id="playback-menu">
    @if(!play) {
        <button mat-mini-fab id="play-pause-btn" (click)="this.playFn()"><mat-icon class="playback-btn">play_arrow</mat-icon></button>
        <button mat-mini-fab id="stop-btn" (click)="this.stopFn()"><mat-icon class="playback-btn">stop</mat-icon></button>
    }
    @else {
        <button mat-mini-fab id="play-pause-btn" (click)="this.pauseFn()"><mat-icon class="playback-btn">pause</mat-icon></button>
        <button mat-mini-fab id="stop-btn" (click)="this.stopFn()"><mat-icon class="playback-btn">stop</mat-icon></button>
    }   
    </div>
    <div id="bpm-menu">
        <label for="bpm-input">BPM</label>
        <input type="number" name="bpm-input" id="bpm-input" [value]="bpm" #bpmInput (input)="setBPM(bpmInput.value)">
    </div>
    <div id="metronome-div">
        <label for="metronome">Metronome</label>
        <input type="checkbox" name="metronome" id="metronome">
    </div>
    <div id="mp3-info">
        <input type="file" class="file-input" (change)="onFileSelected($event)" accept=".mp3" #fileUpload>
        <div class="file-upload">
            <span>MP3: {{fileName || "No file uploaded yet."}}</span>
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()"><mat-icon>attach_file</mat-icon></button>
        </div>
        <div class="progress">
            <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress"></mat-progress-bar>
            <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
        </div>
        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
    </div>
</mat-toolbar>
<app-canvas  [bpm]="bpm" [play]="play" [duration]="duration" [mp3Name]="getMp3TrackLabel()" #appCanvas></app-canvas>
