<mat-tab-group id="tab-group" animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Canvas" class="canvas" [ngStyle]="{'margin-right.px': bars.length * -1}">
        

            <div class="track" id="instrumental-track">
                <div class="track-label-container">
                    <span class="track-label">{{ mp3Name }}</span>
                </div>
                @for (bar of bars; track $index) {
                    <div class="beat mp3-beats" id="first-beat"></div>
                    <div class="beat mp3-beats"></div>
                    <div class="beat mp3-beats"></div>
                    <div class="beat mp3-beats"></div>
                }
            </div>
            <div id="waveform" [ngStyle]="{'width.px': getDurationPx() }"></div>
        
            @for(page of canvas.tracks; track page.id) {
                <div class="track">
                    <div class="track-label-container" (click)="openPage(page)">
                        <span class="track-label">{{ page.title }}</span>
                    </div>
                    <div class="track-boundary">
                        <div class="float-page-container" cdkDragBoundary=".track-boundary" cdkDrag (cdkDragStarted)="dragStarted($event, page.id)" [cdkDragConstrainPosition]="computeDragRenderPos.bind(this)">
                            <mat-card class="float-page-card" [ngStyle]="{'width.px': getCardWidth(page.id) }">
                                <span class="float-page-header"></span>
                                <mat-card-content style="text-align: center;">{{ page.getPreview() }}</mat-card-content>
                                <mat-card-actions class="float-page-actions">
                                    <button class="float-page-edit-btn" (click)="openPage(page)"><mat-icon inline="true" >create</mat-icon></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        @for (bar of bars; track $index) {
                            <div class="beat" id="first-beat" [ngStyle]="{'right.px': getCardWidth(page.id)}"></div>
                            <div class="beat" [ngStyle]="{'right.px': getCardWidth(page.id)}"></div>
                            <div class="beat" [ngStyle]="{'right.px': getCardWidth(page.id)}"></div>
                            <div class="beat" [ngStyle]="{'right.px': getCardWidth(page.id)}"></div>
                        }
                    </div>
                </div>
            }
               
    </mat-tab>
    <mat-tab label="Playback">
        <div id="playback-toolbar">
            @for(page of canvas.tracks; track $index) {
                <div class="playback-select">
                    <label>{{page.title}}: </label>
                    <input type="checkbox" (change)="selectPlaybackPage($index)" [checked]="checkPlaybackSelectStatus($index)">
                </div>
            }
        </div>
            @for(bar of selectedBars1; track $index) {
                @for(phrase of bar; track $index) {
                    <p [@sayReset]="{value: playbackTrigger, params: {time: phrase.phrase.duration + 'ms', delay: phrase.delay}}">{{phrase.phrase.content}} </p>
                }
            }
    </mat-tab>
  </mat-tab-group>
  
