<div>

    <div class="track" id="instrumental-track">
        <div class="track-label-container">
            <span class="track-label">
                Beat Label
            </span>
        </div>
        @for (bar of bars; track $index) {
            <div class="beat" id="first-beat"></div>
            <div class="beat"></div>
            <div class="beat"></div>
            <div class="beat"></div>
        }
    </div>

    @for(page of pages; track $index) {
        <div class="track" (click)="openPage(page)">
            <div class="track-label-container">
                <span class="track-label">
                    {{ page.title }}
                </span>
            </div>
            @for (bar of bars; track $index) {
                <div class="beat" id="first-beat"></div>
                <div class="beat"></div>
                <div class="beat"></div>
                <div class="beat"></div>
            } 
        </div>
    }

    <div class="track" id="add-track">
        <div id="new-track-plus" (click)="newPage()"></div>
    </div>

</div>
