#tab-group {
    height: 100%;
}

#tab-group mat-tab-body {
    flex-grow: 1;
}

/* CANVAS */
.canvas {
    position: relative;
    height: 100%;
}

.canvas-grid {
    margin-top: 4px;
    display: grid;
    grid-template-columns: [labels] 112px [tracks] auto [end];
}

.label-grid-container {
    grid-column-start: labels;
    position: absolute;
    z-index: 3;
}

.track-grid-container {
    grid-column-start: tracks;
}

.track {
    height: 8em;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    padding-bottom: 2px;
}

.track-label-container {
    display: table;
    padding: 0 16px;
    min-width: 80px;
    max-width: 80px;
    height: 8em;
    background-color: #584744;
    border-bottom: 2px solid black;
}

.track-label-container:last-of-type {
    border-bottom: none;
}

.track-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.beat {
    position: relative;
    height: 100%;
    min-width: 15px;
    max-width: 15px;
    background-color: rgba(94, 80, 77, 0.5);
    border-left: 1px solid gray;
    z-index: 1;
}

.mp3-beats {
    right: 0;
}

#waveform {
    display: float;
    z-index: 2;
    position: relative;
    bottom: 8.75em;
    left: calc(2rem + 81px);
    height: 7em;
    width: 100%;
}

.beat:nth-child(odd) {
    background-color: rgb(69, 63, 71, 0.5);
}

#first-beat {
    border-left: 2px solid black;
    min-width: 14px;
    max-width: 14px;
}

.float-page-container {
    display: float;
    position: relative;
    z-index: 2;
}

.float-page-card {
    z-index: 2;
    border-radius: 4px;
    margin: 0.5em 0;
    height: 7em;
}

.float-page-header {
    border-radius: 4px 4px 0 0;
    background-color: rgba(255, 255, 255, 0.27);
    height: 1em;
    margin-bottom: 0.5em;
}

.float-page-actions {
    display: flex;
    justify-content: center;
}

.float-page-edit-btn > mat-icon {
    font-size: 1rem;
}

.track-boundary {
    display: flex;
    flex-wrap: nowrap;
}

/* PLAYBACK */

.playback-bar {
    display: flex;
    gap: 0.25em;
}

#playback-toolbar {
    position: fixed;
    height: 1.5rem;
    padding: 8px;
    top: 8.5rem;
    left: 15rem;
    border: 2px solid rgba(255, 255, 255, 0.253);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.103);
}

#playback-select-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.playback-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
}

#selected-primary {
    border: 0.25em solid rgba(255, 255, 255, 0.103);
    border-radius: 13px;
} 

.selected-div {
    padding: 0.5em;
}


.selected-div > h3 {
    text-align: center;
}