#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#page-text {
  resize: none;
  overflow: scroll;
  font-size: x-large;
}

#page-title {
  margin-left: 2rem;
  font-size: x-large;
  width: 10em;
  text-align: center;
  background-color: rgba(255,255,255,0.08);
  color: inherit;
  border: none;
  border-radius: 4px;
}

#page-toolbar {
  display: flex;
  justify-content: space-between;
}

#page-tools {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  max-width: 800px;
  margin: 0 1rem;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.02);
}

#undo-redo > * {
  margin: 0 0.25rem;
}

::placeholder {
  color: whitesmoke !important;
  opacity: 0.9;
}

#page-close {
  font-size: x-large;
  border: none;
  background: inherit;
  color: inherit;
}

#add-new-phrase-card > mat-card-content {
  padding: 0 0.5rem;
}

#add-new-phrase-btn {
  background-color: inherit;
  border: none;
  padding: 0;
}

#add-new-phrase-btn > mat-icon {
  color: #AA1851;
  font-size: 4rem;
}

#lyric-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  row-gap: 0.25rem;
}

.phrase-card {
  min-width: 6rem;
  min-height: 2.5rem;
  padding: 0 0.25em;
  background-color: rgba(255,255,255,0.05);
}

.phrase-card > *{
  padding-bottom: 0.5rem;
}

.phrase-card-actions {
  float: bottom;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.phrase-input {
  height: 2rem;
  font-size: 1rem;
}

.phrase-textarea {
  white-space: pre-wrap;
  font-size: x-large;
  background-color: rgba(170,24,81,0.07);
  color: whitesmoke;
  border: 0 solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  scrollbar-color: rgb(170,24,81)rgba(255,255,255,0.05);
  scrollbar-width: thin;
}

#time-slider-label {
  display: flex;
  justify-content: space-between;
}

#hide-show-len-btn {
  min-width: 84px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

textarea {
  resize: none;
}
