<div id="page-container">
  <div id="page-header-div">
    <button id="page-close" mat-raised-button color="primary" (click)="this.dialogRef.close()">X</button>
    <div>
      <input type="text" name="page-title" id="page-title" placeholder="{{placeholderTitle}}" (change)="saveTitle(title.value)" (click)="placeholderTitle = ''" (blur)="placeholderTitle = page.title" #title>
    </div>   
  </div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Notepad">
      <textarea name="page-text" id="page-text" cols="{{this.screenWidth / 14}}" rows="{{this.screenHeight / 32}}" (change)="saveText(pageText.value)" #pageText>{{ renderPhrasesToTextarea() }}</textarea>
    </mat-tab>
    <mat-tab label="Edit Flow">
      <button (click)="splitLyricsByWord()">Split by Word</button>
      <div id="lyric-cards-container">
      @for (phrase of page.lyrics; track $index;) {
        @if($first) { {{resetBeatCount()}} }
        @if (isNextBar(phrase.duration)) { 
          <mat-card>
            <mat-card-content>{{ phrase.content }} </mat-card-content>
          </mat-card>
          <div class="break"></div>
        }
        @else {
          <mat-card>
            <mat-card-content>{{ phrase.content }}</mat-card-content>
          </mat-card>
        }
      } @empty {
        <p style="text-align: center;">No lyrics to edit</p>
      }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>